@import '../../atoms/clipboard';

.article-page-socials {
  display: flex;
  align-items: center;
  column-gap: 32px;

  @include media-breakpoint-down(lg) {
    column-gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
      width: 24px;
      height: 24px;
    }

    &-icon {
      width: 100%;
      height: 100%;
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      background-color: $black;
    }

    &_clipboard {
      width: 32px;
      height: 32px;

      @include media-breakpoint-down(lg) {
        width: 24px;
        height: 24px;
      }
    }

    &_linkedin {
      .article-page-socials__item-icon {
        mask-image: url($icons + '/linkedin-black.svg');
      }
    }

    &_x {
      .article-page-socials__item-icon {
        mask-image: url($icons + '/x.svg');
      }
    }
  }
}
