.article-page-progress-bar {
  position: sticky;
  top: 0;
  z-index: 500;
  padding: 16px 12px;
  background-color: $white;
  transition: top $delaySm ease;

  @include media-breakpoint-down(lg) {
    padding: 12px;
  }

  &__line {
    width: 100%;
    height: 8px;
    background-color: $pink-02;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      height: 4px;
    }
  }

  &__line-active {
    width: 0%;
    height: 100%;
    background-color: $pink-06;
    transition: width $delaySm ease;
  }
}