.article-page-related {
  margin: 120px 0 183px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    margin: 48px 0 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-down(lg) {
      gap: 24px;
    }
  }

  &__tag {
    margin-inline: auto;
    margin-bottom: 32px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 100px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 60px;
    }
  }
}
