.article-page-metrics {
  padding: 120px 0 60px;
  background-image: url($images + '/static/bg-image.png');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  @include media-breakpoint-down(lg) {
    padding: 48px 0 24px;
  }

  &__title {
    margin-bottom: 67px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
  }
}