.article-page-cta-sidebar {
  position: sticky;
  top: 156px;
  right: 0;
  padding: 34px 16px;
  border-radius: 12px;
  background-color: $pink-05;
  background-image: url($images + '/static/post-cta-mini.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      display: flex;
      width: 24px;
      height: 24px;
      mask-image: url($icons + '/union.svg');
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: $white;
    }
  }

  &__title {
    margin: 16px 0 29px;
    text-align: center;
    color: $white;
  }

  &__button.btn {
    min-width: unset;
  }
}
