.article-page-text-content {
  $self: &;
  margin: 120px 0 180px;

  @include media-breakpoint-down(lg) {
    margin: 0 0 80px;
  }

  &__sidebar {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 48px;
    height: calc(100% - 16px);

    @include media-breakpoint-down(xxl) {
      margin-left: 16px;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__sidebar-wrapper {
    height: 100%;
  }

  &__sidebar-sticky-wrapper {
    height: 100%;
  }

  &__sidebar-cta-mini-wrapper {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
  }

  &_post {
    margin: 80px 0 180px;

    @include media-breakpoint-down(lg) {
      margin: 60px 0 80px;
    }

    #{$self}__sidebar {
      @include media-breakpoint-down(lg) {
        display: block;
        margin-top: 48px;
        margin-bottom: unset;
        margin-left: unset;
        height: unset;
      }
    }

    #{$self}__sidebar-wrapper {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(lg) {
        row-gap: unset;
      }
    }

    #{$self}__sidebar-sticky-wrapper {
      position: relative;
    }

    #{$self}__sidebar-cta-mini-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 67.3%;

      .article-page-cta-sidebar {
        top: 575px;
      }
    }
  }
}
