.article-page-text-content-footer {
  margin-top: 106px;
  padding-top: 40px;
  border-top: 2px solid rgba($black, 0.3);

  @include media-breakpoint-down(lg) {
    margin-top: 60px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 14px 0 14px 7px;
    color: $pink-06;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      mask-image: url($icons + '/arrow-forward.svg');
      mask-position: center;
      mask-size: cover;
      background-color: currentColor;
    }
  }
}