.article-page-cta {
  padding: 140px 0 120px;
  background-image: url($images + '/static/bg-image-cta.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-down(lg) {
    padding: 80px 0;
  }

  &__tag {
    margin-inline: auto;
    margin-bottom: 32px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 36px;
    }
  }

  &__button {
    margin-inline: auto;
  }
}