@mixin aspect-ratio {
  position: relative;
  width: 100%;

  &>*:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

@mixin aspect-ratio-dimensions($width, $height) {
  padding-bottom: calc($height/$width * 100%);
}

@mixin aspect-ratio-pseudo($width, $height) {
  @include aspect-ratio;

  &:after {
    display: block;
    content: '';
    width: 100%;
    @include aspect-ratio-dimensions($width, $height);
  }
}

@mixin aspect-ratio-div($width, $height) {
  @include aspect-ratio;
  @include aspect-ratio-dimensions($width, $height);
  height: 0;
}

