.benefits-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 36px;
  row-gap: 40px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;

    @include media-breakpoint-down(lg) {
      gap: 12px;
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--benefits-grid-img-color);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }

    &_shadow {
      box-shadow:
        0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
        0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
        0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
    }
  }
}
