.cky-consent-container {
  &.cky-box-bottom-left {
    bottom: 32px;
    left: 32px;
  }

  &.cky-box-bottom-right {
    bottom: 32px;
    right: 32px;
  }

  &.cky-box-top-left {
    top: 32px;
    left: 32px;
  }

  &.cky-box-top-right {
    top: 32px;
    right: 32px;
  }

  &.cky-box-bottom-left,
  &.cky-box-bottom-right,
  &.cky-box-top-left,
  &.cky-box-top-right {
    width: 600px;

    @include media-breakpoint-down(md) {
      top: unset;
      left: 12px;
      right: 12px;
      bottom: 12px;
      width: calc(100% - 24px);
    }

    .cky-consent-bar {
      padding: 20px 32px 16px;
      border-radius: 12px;
      outline: none;
      box-shadow:
        0px 16px 16px 0px #3a042214,
        0px 64px 64px 0px #3a042214,
        0px 32px 32px 0px #3a042214;

      @include media-breakpoint-down(md) {
        padding: 24px 20px;
        border-radius: 12px 12px 0 0;
      }

      @media (max-width: 440px) {
        padding: 24px 20px;
      }
    }
  }

  .cky-notice {
    .cky-title {
      margin-bottom: 12px;
      color: $black;
      @include typo-subtitle-2;

      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
        @include typo-subtitle-1;
      }

      @media (max-width: 440px) {
        padding: unset;
      }
    }

    .cky-notice-group .cky-notice-des {
      @media (max-width: 440px) {
        padding: unset;
      }

      p {
        color: $black;
        @include typo-body-2;
      }
    }

    .cky-notice-group .cky-notice-btn-wrapper {
      margin-top: 32px;
      flex-wrap: nowrap;
      gap: 12px;

      @include media-breakpoint-down(md) {
        margin-top: 24px;
        flex-direction: column;
      }

      @media (max-width: 440px) {
        padding: unset;
      }

      .cky-btn {
        margin-right: unset;
        @include btn;
        min-width: unset;
        border: none;

        @include media-breakpoint-down(md) {
          width: 100%;
        }

        @media (max-width: 440px) {
          margin-top: unset;
        }

        &.cky-btn-customize {
          color: $pink-06 !important;
          background-color: $pink-01 !important;
          transition: background-color $delaySm ease;

          @include media-breakpoint-down(md) {
            order: 2;
          }

          @media (hover: hover) {
            &:hover {
              opacity: 1;
              background-color: $pink-02 !important;
              color: $pink-05 !important;
            }
          }
        }

        &.cky-btn-reject {
          display: none;
        }

        &.cky-btn-accept {
          color: $white !important;
          background: $primary-gradient-button !important;
          background-size: 170% 100% !important;
          background-position: left center !important;

          @include media-breakpoint-down(md) {
            order: 1;
          }

          @media (max-width: 440px) {
            margin-top: unset;
          }

          @media (hover: hover) {
            &:hover {
              opacity: 1;
              background-position: right center !important;
            }
          }
        }
      }
    }
  }
}
