@import '../molecules/feature-card';

.feature-cards {
  $self: &;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @include media-breakpoint-down(xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(lg) {
      grid-gap: 16px;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  &_3-column {
    #{$self}__content {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px;

      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-down(lg) {
        grid-gap: 16px;
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
      }
    }
  }
}
