.footer {
  padding: 24px 0 140px;
  background-image: url($images + '/static/footer-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-down(lg) {
    padding: 80px 0 32px;
    background-position: 100%;
  }

  &__form {
    margin-bottom: 32px;
    padding: 39px 0;

    @include media-breakpoint-down(lg) {
      margin-bottom: 49px;
      padding: unset;
    }

    &.hide-form {
      display: none;
    }
  }

  &__content {
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    background-color: $white;
    border-radius: 24px;

    @include media-breakpoint-down(lg) {
      padding: 40px 24px;
      grid-row-gap: 36px;
      border-radius: 20px;
    }
  }

  &__left {
    grid-column: 1 / span 2;
    padding-left: 64px;

    @include media-breakpoint-down(xxl) {
      padding-left: 48px;
    }

    @include media-breakpoint-down(xl) {
      padding-left: 24px;
    }

    @include media-breakpoint-down(lg) {
      grid-column: 1 / span 12;
      padding-left: unset;
    }
  }

  &__logo {
    display: block;
    margin-top: 6px;
    width: fit-content;
    height: auto;

    @include media-breakpoint-down(lg) {
      margin-top: unset;
    }
  }

  &__right {
    grid-column: span 8 / 13;

    @include media-breakpoint-down(xxl) {
      grid-column: span 9 / 13;
    }

    @include media-breakpoint-down(lg) {
      grid-column: 1 / span 12;
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 36px;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    .menu-item a {
      color: rgba($black, 0.6);
      transition: color $delaySm ease;
      @include typo-subtitle-2;

      @media (hover: hover) {
        &:hover {
          color: $pink-06;
        }
      }
    }

    & > .menu-item-has-children {
      & > :first-child {
        display: block;
        margin-bottom: 16px;
        color: $black;
        @include typo-subtitle-2;
      }

      .sub-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include media-breakpoint-down(lg) {
          gap: 14px;
        }

        & > .menu-item-has-children {
          margin-top: 32px;

          @include media-breakpoint-down(lg) {
            margin-top: 18px;
          }

          & > :first-child {
            display: block;
            margin-bottom: 16px;
            color: $black;
            @include typo-subtitle-2;
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: 39px;
    color: $white;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      padding: 0 12px;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
    }
  }

  &__policy-socials {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__policy-menu {
    display: flex;
    gap: 24px;
    align-items: center;

    @include media-breakpoint-down(lg) {
      gap: 12px;
    }

    .menu-item a {
      position: relative;
      padding: 8px 0;
      color: inherit;
      @include typo-caption-3;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: transparent;
        transition: background-color $delaySm ease;
      }

      @media (hover: hover) {
        &:hover::after {
          background-color: currentColor;
        }
      }
    }
  }

  &__socials {
    @include media-breakpoint-down(md) {
      display: none;
    }

    &_mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin-bottom: 32px;
      width: 100%;

      @include media-breakpoint-down(md) {
        display: flex;
      }
    }
  }

  &__socials-title {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__socials-list {
    padding: 0 12px;
    display: flex;
    gap: 36px;
    align-items: center;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: $white;

    &-icon {
      width: 100%;
      height: 100%;
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      background-color: $white;
    }
  }
}
