@import '../atoms/burger';
@import '../atoms/menu-item-link';
@import '../molecules/navigation-card';
@import '../molecules/cta-card';
@import '../molecules/navigation';
@import '../molecules/navigation-mobile';
@import '../molecules/event-banner';

.header {
  $self: &;
  position: sticky;
  top: var(--top);
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: translate $delaySm ease;

  @include media-breakpoint-down(sm) {
    top: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    background-color: $white;

    @include media-breakpoint-down(xxl) {
      padding: 16px 30px;
    }

    @include media-breakpoint-down(xl) {
      padding: 12px 16px;
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    grid-column: 1 / span 2;
    display: flex;
    max-height: 40px;

    span {
      display: flex;
    }

    img {
      object-fit: contain;
    }

    @include media-breakpoint-down(lg) {
      width: 97px;
      height: 32px;
    }
  }

  &__navigation {
    grid-column: 3 / span 8;
    margin-inline: auto;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__navigation-mobile {
    display: none;

    @include media-breakpoint-down(lg) {
      position: absolute;
      z-index: 9999;
      left: 0;
      display: grid;
      grid-template-rows: 0fr;
      padding: 0 24px;
      width: 100%;
      height: 0;
      background-color: $white;
      transition:
        grid-template-rows $delaySm ease,
        padding $delaySm ease,
        height $delaySm ease;
    }

    &-wrapper {
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.active {
      grid-template-rows: 1fr;
      padding: 32px 24px 32px;
      height: calc(100dvh - var(--headerHeight));
    }

    #{$self}__button {
      display: flex;
    }
  }

  &__button {
    grid-column: 11 / span 2;
    margin-left: auto;
    padding: 16px 24.5px;
    min-width: unset;

    @include media-breakpoint-down(lg) {
      display: none;
      margin-top: 32px;
      padding: 14px 0;
      width: 100%;
    }
  }

  &__burger {
    display: none;
    grid-column: 11 / span 2;
    margin-left: auto;

    @include media-breakpoint-down(lg) {
      display: flex;
    }
  }

  &_hide {
    translate: 0 -100%;
  }
}
