.load-more-articles {
  $self: &;

  &__track {
    height: 1px;
    width: 1px;
  }

  &__container {
    display: grid;
    grid-template-rows: 0fr;
    width: 100%;
    transition:
      grid-template-rows $delaySm ease-in-out,
      padding-top $delaySm ease-in-out;
  }

  &__content {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__loader {
    width: 48px;
    height: 48px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    &-content {
      color: $pink-03;
      font-size: 7px;
      position: relative;
      text-indent: -9999em;
      transform: translateZ(0);
      animation-delay: -0.16s;
      display: inline-block;

      &,
      &:before,
      &:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation-fill-mode: both;
        animation: bblFadInOut 1.8s infinite ease-in-out;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
      }
      &:before {
        left: -3.5em;
        animation-delay: -0.32s;
      }
      &:after {
        left: 3.5em;
      }

      @keyframes bblFadInOut {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
          box-shadow: 0 2.5em 0 0;
        }
      }
    }
  }

  &__button {
    opacity: 0;
    visibility: hidden;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &_show-button,
  &.requesting {
    #{$self}__container {
      padding-top: 80px;
      grid-template-rows: 1fr;

      @include media-breakpoint-down(lg) {
        padding-top: 40px;
      }
    }
  }

  &_show-button {
    #{$self}__button {
      opacity: 1;
      visibility: visible;
    }
  }

  &.requesting {
    #{$self}__button {
      opacity: 0;
      visibility: hidden;
    }

    #{$self}__loader {
      opacity: 1;
      visibility: visible;
    }
  }
}
