@import '../molecules/multi-column-card';

.multi-column-cards {
  @include media-breakpoint-up(xxl) {
    padding: 0 20px;
  }

  @include media-breakpoint-up(xxxl) {
    padding: unset;
  }

  & > .acf-innerblocks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 120px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 48px;
    }
  }

  &_two-cols {
    & > .acf-innerblocks-container {
      grid-template-columns: repeat(2, 1fr);

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
      }
    }
  }
}
