.photo-grid {
  $self: &;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: 497px;
    gap: 20px;

    @include media-breakpoint-down(lg) {
      display: flex;
      gap: 16px;
      overflow-x: auto;
      scrollbar-width: none; // Firefox
      -ms-overflow-style: none; // IE & Edge

      &::-webkit-scrollbar {
        display: none; // Chrome, Safari
      }
    }
  }

  &__item {
    background-color: #ddd; // placeholder
    border-radius: 24px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      aspect-ratio: 320/210;
      min-height: 210px;
      min-width: 320px;
    }

    img {
      display: flex;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &.large {
      grid-column: span 6;
      grid-row: span 2;
    }

    &.small {
      grid-column: span 4;
      grid-row: span 1;
    }

    &.small:nth-child(2) {
      grid-column: span 2;
      grid-row: span 1;
    }

    &.small:nth-child(3) {
      grid-column: span 2;
      grid-row: span 1;
    }
  }

  &_single {
    #{$self} {
      &__wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        max-height: unset;
      }
    }
  }

  &_double {
    #{$self} {
      &__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        max-height: unset;
      }
    }
  }

  &_triple {
    #{$self} {
      &__wrapper {
        max-height: 920px;
      }

      &__item {
        &.large {
          grid-column: span 10;
          grid-row: span 1;
        }

        &.small {
          grid-column: span 5;
          grid-row: span 1;
        }
      }
    }
  }
}
