@import '../molecules/team-card';

.team {
  &__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 80px;

    @include media-breakpoint-down(xl) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 40px;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      row-gap: 32px;
    }
  }
}
