@import './config/general';
@import './config/bootstrap';
@import './config/swiper';
@import './config/br';

@import 'atoms/typography';
@import 'atoms/link';
@import 'atoms/button';
@import 'atoms/list';
@import 'atoms/gradient-text';
@import 'atoms/wp-heading-image';
@import 'atoms/img';
@import 'atoms/custom-img';
@import 'atoms/video';

@import 'molecules/newsletter-form';

@import 'organisms/cky-consent-container';
@import 'organisms/cky-modal';
@import 'organisms/cky-btn-revisit-wrapper';
@import 'organisms/simple-text';
