button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  $self: &;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  min-width: 240px;
  width: fit-content;
  border-radius: 68px;
  transition-property: color, background-color, background-position, border-color;
  transition-duration: $delaySm;
  transition-timing-function: ease;
  @include typo-button;

  &_primary {
    color: $white;
    background: $primary-gradient-button;
    background-size: 170% 100%;
    background-position: left center;

    @media (hover: hover) {
      &:hover {
        background-position: right center;
      }
    }
  }

  &_secondary {
    background-color: $white;

    span {
      @include gradient-text;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $pink-02;
      }
    }
  }

  &_tertiary {
    color: $pink-06;
    background-color: $pink-01;

    @media (hover: hover) {
      &:hover {
        background-color: $pink-02;
        color: $pink-05;
      }
    }
  }

  &_underline {
    position: relative;
    padding: 8px 0;
    min-width: unset;
    border-radius: unset;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: currentColor;
      transition: background-color $delaySm ease;
    }
  }

  &_underline.btn_primary {
    color: $white;
    background: transparent;

    @media (hover: hover) {
      &:hover {
        color: $pink-01;
      }
    }
  }

  &_underline.btn_secondary {
    color: $pink-06;
    background-color: transparent;

    span {
      background: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      background-color: unset;
    }

    span {
      background: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      background-color: unset;
    }

    @media (hover: hover) {
      &:hover {
        color: $pink-05;
        background-color: transparent;
      }
    }
  }

  &_inline {
    position: relative;
    padding: 8px 0;
    min-width: unset;
    border-radius: unset;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: transparent;
      transition: background-color $delaySm ease;
    }

    @media (hover: hover) {
      &:hover {
        background-color: currentColor;
      }
    }
  }

  &.disabled,
  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
