.clipboard {
  $self: &;

  &__button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    mask-image: url($icons + '/clipboard.svg');
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: $black;
  }

  &__message {
    position: fixed;
    z-index: 9999;
    bottom: 100px;
    left: 50%;
    translate: -50%;
    opacity: 0;
    visibility: hidden;
    padding: 12px 24px;
    border-radius: 20px;
    background-color: $pink-01;
    transition:
      opacity $delaySm ease,
      visibility $delaySm ease;

    @include media-breakpoint-down(lg) {
      padding: 12px;
    }

    span {
      color: $pink-06;
      @include typo-subtitle-2;
    }
  }

  &_active {
    #{$self}__message {
      opacity: 1;
      visibility: visible;
    }
  }
}
