.tag {
  $self: &;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  width: fit-content;
  border-radius: 60px;
  color: $pink-06;
  background-color: $pink-01;

  @include media-breakpoint-down(lg) {
    padding: 2px 8px;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    color: inherit;

    div {
      width: 100%;
      height: 100%;
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      background-color: currentColor;
    }
  }

  &_white {
    background-color: $white;
  }

  &_transparent {
    color: $white;
    background-color: rgba($white, 0.15);
  }

  &_static {
    #{$self}__icon {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        mask-image: url($icons + '/union.svg');
        mask-position: center;
        mask-size: cover;
        mask-repeat: no-repeat;
        background-color: currentColor;
      }
    }
  }
}
