.video-poster {
  display: none;
  opacity: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 4px) !important;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 11px;
  overflow: hidden;
  z-index: 2;
  transition:
    opacity 0.3s ease,
    display 0.3s ease allow-discrete;

  @include media-breakpoint-down(lg) {
    border-radius: 4px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.is-visible {
    display: block;
    opacity: 1;
  }
}

@starting-style {
  .video-poster.is-visible {
    opacity: 0;
  }
}
