.case-study-card {
  $self: &;
  display: flex;
  flex-direction: column;
  min-height: 508px;
  height: 100%;
  padding-bottom: 5px;

  @include media-breakpoint-down(xl) {
    min-height: 420px;
  }

  @include media-breakpoint-down(lg) {
    min-height: 405px;
    padding-bottom: 1px;
  }

  &__image {
    margin-bottom: 32px;
    border-radius: 20px;
    overflow: hidden;
    @include aspect-ratio-pseudo(464, 297);

    @include media-breakpoint-down(lg) {
      margin-bottom: 31px;
      @include aspect-ratio-pseudo(320, 200);
    }
  }

  &__tag {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: $pink-06;
    @include typo-caption-1;

    @include media-breakpoint-down(lg) {
      margin-bottom: 12px;
    }

    & > * {
      display: block;
      color: inherit;

      &:not(:first-child) {
        position: relative;
        padding-left: 9px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 1.5px;
          height: 100%;
          background-color: currentColor;
        }
      }
    }
  }

  &__title {
    margin-bottom: 36px;
    max-width: 448px;
    @include text-wrap(2);
    @include typo-subtitle-1;

    @include media-breakpoint-down(lg) {
      margin-bottom: 31px;
      @include text-wrap(3);
    }
  }

  &__button.btn {
    margin-top: auto;
    min-width: unset;
  }

  &_cta {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: $pink-05;
    color: $white;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url($images + '/static/pattern-a-cute-off.svg');
      background-position: center;
    }

    #{$self}__icon {
      margin-bottom: 32px;
      width: 32px;
      height: 32px;
    }

    #{$self}__text-content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 320px;
      width: 100%;
    }

    #{$self}__title {
      text-align: center;
      margin-bottom: 16px;
      @include typo-headline-3;
    }

    #{$self}__text {
      text-align: center;
    }

    #{$self}__button {
      margin-top: 48px;
      width: 100%;
      text-align: center;

      @include media-breakpoint-down(xl) {
        width: fit-content;
      }
    }
  }
}
