.cky-accordion-wrapper {
  .cky-accordion {
    padding: 16px 20px;
    border-bottom: 1px solid rgba($black, 0.2);

    &:last-child {
      border-bottom: none;

      @include media-breakpoint-down(md) {
        border-bottom: 1px solid rgba($black, 0.2);
      }
    }

    @include media-breakpoint-down(md) {
      padding: 4px 20px 12px;
    }

    &-item {
      margin-top: unset;
      gap: 16px;
    }

    &-chevron {
      flex-shrink: 0;
      margin-top: 18px;
      margin-right: unset;
      width: 16px;
      height: 16px;

      @include media-breakpoint-down(md) {
        margin-top: 15px;
      }

      i {
        display: none;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        width: 100%;
        height: 2px;
        background-color: $black;
        transition: rotate $delaySm ease;
      }

      &::after {
        rotate: 90deg;
      }
    }

    &-header-wrapper {
    }

    &-header {
      height: 55px;

      @include media-breakpoint-down(md) {
        height: 47px;
      }

      .cky-accordion-btn {
        @include typo-subtitle-2;
      }

      .cky-always-active {
        color: $pink-06;
        @include typo-subtitle-2;
      }

      .cky-switch {
        input[type='checkbox'] {
          width: 51px;
          height: 32px;
          background-color: $charcoal-01 !important;
          transition: background-color $delaySm ease;

          &::before {
            bottom: 1px;
            left: 1px;
            width: 28px;
            height: 28px;
            border: 1px solid $charcoal-01;
            box-shadow:
              0px 3px 1px 0px #3a04220f,
              0px 3px 8px 0px #3a042226;
          }

          &:checked {
            background-color: $pink-06 !important;
          }

          &:checked::before {
            transform: translateX(18px);
          }
        }
      }
    }

    &-header-des {
      margin-top: 12px;
      margin-bottom: unset;
      color: rgba($black, 0.6) !important;

      * {
        @include typo-body-2;
      }
    }

    & .cky-accordion-body {
      display: grid;
      grid-template-rows: 0fr;
      padding: 0px 0px 0px 32px;
      transition:
        grid-template-rows $delaySm ease,
        padding $delaySm ease;

      .cky-audit-table {
        overflow: hidden;

        .cky-cookie-des-table {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 32px;

          @include media-breakpoint-down(md) {
            padding: 12px;
          }

          li {
            padding: unset;

            div {
              @include typo-body-2;
            }

            div:first-child {
              width: 140px;

              @include media-breakpoint-down(md) {
                width: 100px;
              }
            }

            div:last-child {
              margin-left: 12px;
              color: rgba($black, 0.6);
            }
          }
        }

        .cky-empty-cookies-text {
          @include typo-body-2;
        }
      }
    }

    &.cky-accordion-active {
      .cky-accordion-chevron {
        &::after {
          rotate: 180deg;
        }
      }

      .cky-accordion-body {
        display: grid;
        margin-bottom: unset;
        grid-template-rows: 1fr;
        padding: 16px 0px 0px 32px;
      }
    }
  }
}
