.cta-card {
  grid-column: 1 / span 2;
  position: relative;
  padding: 34px 16px;
  min-width: 320px;
  border-radius: 12px;
  overflow: hidden;
  color: $white;
  background-color: $pink-05;

  @include media-breakpoint-down(xl) {
    padding: 24px 12px;
    min-width: 240px;
  }

  @include media-breakpoint-down(lg) {
    padding: 34px 16px;
    min-width: 320px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($images + '/static/cta-card-small-pattern.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 24px;
    height: 24px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 8px;
    }

    &-image {
      width: 100%;
      height: 100%;
      // mask-image: url($icons + '/union.svg');
      mask-position: center;
      mask-size: cover;
      background-color: currentColor;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 500;
    @include typography;

    @include media-breakpoint-down(xl) {
      margin-bottom: 24px;
    }

    @include media-breakpoint-down(lg) {
      @include typo-subtitle-1;
    }
  }

  &__button {
    padding: 14px 32px;
    min-width: unset;
  }
}
