.event-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media-breakpoint-down(xxl) {
    padding: 12.5px 30px;
  }

  @include media-breakpoint-down(xl) {
    padding: 12.5px 16px;
  }

  @include media-breakpoint-down(lg) {
    padding: 16px 19.5px;
  }

  * {
    text-align: center;
    color: inherit;
    @include typo-subtitle-2;

    @include media-breakpoint-down(xl) {
      @include typo-caption-2;
    }
  }
}
