.feature-post-card {
  color: inherit;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-down(lg) {
      gap: 24px;
    }
  }

  .img {
    overflow: hidden;
    border-radius: 20px;
    @include aspect-ratio-pseudo(458, 297);

    @include media-breakpoint-down(lg) {
      border-radius: 12px;
      @include aspect-ratio-pseudo(320, 210);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 16px;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 8px;
    row-gap: 5px;
    opacity: 0.7;
  }

  &__title {
  }
}
