.navigation-card {
  $self: &;

  display: flex;
  flex-direction: column;
  width: 300px;

  @include media-breakpoint-down(xxxl) {
    width: 240px;
  }

  @include media-breakpoint-down(xxl) {
    width: 200px;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    grid-column: 1 / span 2;
  }

  &__image-wrapper {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
  }

  &__image-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: rgba($black, 0.2);

    &-icon {
      width: 20px;
      height: 20px;
      mask-image: url($icons + '/union.svg');
      mask-position: center;
      mask-size: cover;
      background-color: currentColor;
    }

    &-text {
      @include typography;
      font-size: 28px;
      font-weight: 550;
      line-height: 26.6px;
      letter-spacing: -0.02em;
    }
  }

  &__image {
    z-index: 1;
    @include aspect-ratio-pseudo(300, 180);

    @include media-breakpoint-down(xxxl) {
      @include aspect-ratio-pseudo(240, 160);
    }

    @include media-breakpoint-down(xxxl) {
      @include aspect-ratio-pseudo(200, 120);
    }

    @include media-breakpoint-down(md) {
      @include aspect-ratio-pseudo(319, 176);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 16px;
  }

  &__text {
    max-width: 84%;
    color: $black;
    @include typo-caption-2;

    @include media-breakpoint-down(lg) {
      @include typo-subtitle-2;
    }
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $pink-06;
    background-color: $pink-01;
    transition: background-color $delaySm ease;

    &::after {
      content: '';
      display: flex;
      width: 16px;
      height: 16px;
      mask-image: url($icons + '/arrow-small.svg');
      mask-position: center;
      mask-size: cover;
      background-color: currentColor;
      rotate: -90deg;
    }
  }

  @media (hover: hover) {
    &:hover {
      #{$self}__icon {
        background-color: $pink-02;
      }
    }
  }

  &_wide {
    width: 616px;
    grid-column: 1 / span 2;

    @include media-breakpoint-down(xxxl) {
      width: 496px;
    }

    @include media-breakpoint-down(xxl) {
      width: 416px;
    }

    #{$self}__image-cover {
      gap: 6px;

      @include media-breakpoint-down(md) {
        gap: 5px;
      }

      &-icon {
        width: 26px;
        height: 26px;

        @include media-breakpoint-down(md) {
          width: 20px;
          height: 20px;
        }
      }

      &-text {
        font-size: 34px;
        line-height: 32.3px;

        @include media-breakpoint-down(md) {
          font-size: 28px;
          line-height: 26.6px;
        }
      }
    }

    #{$self}__image {
      @include aspect-ratio-pseudo(616, 240);

      @include media-breakpoint-down(xxxl) {
        @include aspect-ratio-pseudo(496, 180);
      }

      @include media-breakpoint-down(xxxl) {
        @include aspect-ratio-pseudo(416, 160);
      }

      @include media-breakpoint-down(md) {
        @include aspect-ratio-pseudo(319, 176);
      }
    }

    #{$self}__text {
      padding: 4px 0;
    }
  }
}
