@import '../atoms/loader';

.newsletter-form {
  $self: &;
  display: flex;
  justify-content: center;
  column-gap: 50px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }

  &__title {
    margin-top: 7px;
    color: $white;

    @include media-breakpoint-down(lg) {
      margin-top: unset;
    }
  }

  &__container {
    position: relative;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .hbspt-form {
    form {
      position: relative;
      display: flex;
      flex-direction: row;
      column-gap: 12px;
      max-width: 480px;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 54px;
        border: 1px solid rgba($white, 0.5);
        border-radius: 59px;
        background-color: rgba($pink-02, 0.3);
      }

      @include media-breakpoint-down(lg) {
        position: static;
        flex-direction: column;
        max-width: unset;

        &::before {
          content: none;
        }
      }

      .hs-form-field {
        @include media-breakpoint-down(lg) {
          position: relative;
        }

        .input {
          @include media-breakpoint-down(lg) {
            padding: 10.5px 16px;
            width: 100%;
            border: 1px solid rgba($white, 0.5);
            border-radius: 59px;
            background-color: rgba($pink-02, 0.3);
          }
        }

        input {
          position: relative;
          z-index: 3;
          margin: 13px 0 13px 16px;
          width: 288px;

          color: $white;
          border: none;
          outline: none;
          background-color: transparent;
          @include typo-body-2;

          &::placeholder {
            color: rgba($white, 0.5);
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 40rem transparent inset;
            transition: background-color 5000s ease-in-out 0s;
          }

          @include media-breakpoint-down(lg) {
            margin: unset;
            width: 100%;
          }
        }
      }

      .hs-error-msgs {
        margin-top: 12px;

        &::before {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 54px;
          border-radius: 59px;
          border: 1px solid #df0e40;
          background-color: transparent;

          @include media-breakpoint-down(lg) {
            height: 45px;
          }
        }

        & + .hs-error-msgs {
          margin-top: 4px;
        }

        li {
          @include media-breakpoint-down(lg) {
            display: flex;
            justify-content: center;
          }
        }

        label {
          padding: 2px 4px;
          color: $white;
          background-color: rgba(#c60000, 0.5);
          border-radius: 2px;
          @include typo-caption-2;
        }
      }

      .hs_error_rollup {
        display: none;
      }

      .hs-submit {
        position: relative;
        z-index: 3;
        margin-top: 4px;
        margin-right: 4px;

        @include media-breakpoint-down(lg) {
          position: static;
          margin-top: 12px;
          margin-right: unset;
        }

        button[type='submit'] {
          min-width: unset;
          padding: 14px 38px;
          outline: none;

          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }
      }
    }

    .submitted-message {
      padding: 18px 47px;
      text-align: center;
      border-radius: 12px;
      color: $white;
      background-color: $white;
      @include typo-button;

      span {
        @include gradient-text;
      }
    }
  }

  &__loader {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  &.load-form {
    #{$self}__container {
      width: 480px;
      height: 56px;

      @include media-breakpoint-down(lg) {
        width: 100%;
        height: 107px;
      }
    }

    #{$self}__loader {
      display: flex;
    }
  }
}
