.review-card {
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
  border-radius: 24px;
  box-shadow: 0px 6.65px 5.32px 0px #77057b07;
  background-color: $white;

  @include media-breakpoint-down(md) {
    padding: 24px 16px;
    gap: 20px;
    border-radius: 20px;
  }

  &__logo {
    height: 53px;

    @include media-breakpoint-down(md) {
      height: 40px;
    }

    img {
      height: 100%;
    }
  }

  &__text {
    color: rgba($black, 0.7);
  }

  &__reviewer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
  }

  &__photo {
    width: 48px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      width: 32px;
    }

    img {
      width: 100%;
      object-position: center;
    }
  }

  &__reviewer-text {
    display: flex;
    flex-direction: column;
  }

  &__reviewer-name {
    margin-bottom: 4px;
    color: $black;

    @include media-breakpoint-down(md) {
      margin-bottom: 2px;
    }
  }

  &__reviewer-occupation {
    color: rgba($black, 0.7);
  }
}
