.review-item {
  background-color: $white;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 32px;
  break-inside: avoid;
  margin-bottom: 20px;
  box-shadow:
    0px 10px 15px rgba(119, 5, 123, 0.04),
    0px 10px 8px rgba(119, 5, 123, 0.03);

  @include media-breakpoint-down(lg) {
    padding: 24px 16px;
    gap: 20px;
  }

  &.hidden {
    display: none;
  }

  &__content {
    opacity: 0.7;
  }

  &__rating {
    display: flex;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;

      &.active {
        color: $pink-05;
      }

      &.inactive {
        color: $pink-02;
      }
    }
  }

  &__author {
    margin-top: 4px;
    @include typo-body-3;
  }
}
