.search-input {
  $self: &;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 74px;
    border: 1px solid $charcoal-03;
    overflow: hidden;
    background-color: $white;
    transition: border-color 0.3s ease-out;

    @include media-breakpoint-down(lg) {
      padding: 12px;
    }
  }

  &_focused {
    #{$self}__container {
      border-color: $pink-02;
    }
  }

  &_has-value {
    #{$self}__clear-button {
      opacity: 1;
      visibility: visible;
    }
  }

  &__submit-button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    & > * {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__clear-button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;

    & > * {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__input {
    border: none;
    outline: none;
    flex-grow: 1;
    min-width: 20px;
  }
}
