.video-brief-card {
  border-radius: 20px;
  background-color: $white;

  @include media-breakpoint-down(lg) {
    border-radius: 16px;
  }

  &__container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-down(lg) {
      gap: 24px;
      padding: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include media-breakpoint-down(lg) {
      gap: 8px;
    }

    &-title {
      color: $pink-06;
    }

    &-content {
    }

    &-speakers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      @include media-breakpoint-down(lg) {
        gap: 16px;
        grid-template-columns: 1fr;
        margin-top: 9px;
      }
    }
  }
}
