.video-brief-speaker {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    @include media-breakpoint-down(lg) {
      gap: 8px;
    }
  }

  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      width: 32px;
      height: 32px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__author {
    font-weight: 600;
  }

  &__position {
  }
}
